
{loop type="delivery" name="chronopost" id=$module force_return="true"}
    <tr style="display: none;">
        <td colspan="3">
            <div id="point-chronopost">
                <div id="deliverytype-chronopost">

                    {chronopostDeliveryType}

                    {* Chrono13 *}
                    {if $isChrono13Enabled !== false}
                        {chronopostDeliveryPrice delivery-mode="01" country=$country}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{intl l="Chrono 13H delivery" d='chronopost.fo.default'}</strong> / {$deliveryModePrice} {currency attr="symbol"}
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">

                                    <div style="padding-top: 15px;">
                                        {intl l="Delivery to you or a personal address of your choice, before tomorrow 13H." d='chronopost.fo.default'}

                                        <div class="clearfix">
                                            <button type="submit" name="chronopost-chrono13" value="CHRONO13" class="btn btn-primary pull-right">{intl l="Choose this delivery mode" d="chronopost.fo.default"}</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {/if}

                    {* Fresh13 *}
                    {if $isFresh13Enabled !== false}
                        {chronopostDeliveryPrice delivery-mode="2R" country=$country}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>{intl l="Fresh 13H delivery" d='chronopost.fo.default'}</strong> / {$deliveryModePrice} {currency attr="symbol"}
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">

                                    <div style="padding-top: 15px;">
                                        {intl l="Delivery of fresh products before 13H tomorrow." d='chronopost.fo.default'}

                                        <div class="clearfix">
                                            <button type="submit" name="chronopost-fresh13" value="FRESH13" class="btn btn-primary pull-right">{intl l="Choose this delivery mode" d="chronopost.fo.default"}</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {/if}

                    {* TODO Add other delivery types *}

                </div>
            </div>
        </td>
    </tr>

    <script>
        function displayContent () {
            $("#deliverytype-chronopost").closest('tr').show(function () {
                $('.btn-checkout-next').hide();
            });
        }

        $(function(){

            if ($("#delivery-method_{$module}").is(':checked')) {
                displayContent();
            }

            $('[name="thelia_order_delivery[delivery-module]"]', '.table-delivery').on('change', function(){
                if($(this).attr('id') != 'delivery-method_{$module}') {
                    $("#deliverytype-chronopost").closest('tr').hide();
                    $('.btn-checkout-next').show();
                } else {
                    displayContent();
                }
            });

        });
    </script>
{/loop}